
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Playfair+Display&display=swap');
p{
    margin-left:30px;
    margin-top:20px;

    font-family: "Monserrat",serif;
}