@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
textarea{
display: block;
padding: 16px 18px;
height: 150px;
position: relative;
width: 70%;
margin-left:50px;

font-family: Montserrat,sans-serif;
font-size: 12px;
line-height: 20px;
font-weight: inherit;
color:#999;
background-color: transparent;
border: 1px solid #130f0f;
border-radius: 0;
outline: 0;

box-sizing: border-box;
transition: border-color .2s ease-in-out;


}

input{
border-radius: 0;
transition: border-color .2s ease-in-out;
position: relative;
width: 70%;
padding: 19px 18px;
font-family: Montserrat,sans-serif;
font-size: 12px;
line-height: 18px;
font-weight: inherit;
color: #6d6a6a;
background-color: transparent;
border: 1px solid #0f0c0c;
outline: 0;

box-sizing: border-box;
margin: 0;
}


label{
    color: #6d6a6a;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    font-family: Lora,serif;
    line-height: 1.6em;
    background: 0 0;
    border: 0;
    margin: 0;

    outline: 0;
    display: block;
    padding: 0 0 5px;
}

button{
    background-color: #F34F3F;
    display: flex;
    justify-content: center;
    color:white;
    border: none;
    max-width:100px;
    padding:10px;

}


.star{
    font-size: 25px;
    color: #F34F3F;
}